layout {
border {
active-color "#b4befe"
inactive-color "#313244"
urgent-color "#f38ba8"
}
}
window-rule {
geometry-corner-radius 12
}
window-rule {
match app-id="^Alacritty$"
background-effect {
blur true
xray true
}
}
